@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 240 60% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 60% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 29% 77%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 15% 92%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 15% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 67% 97%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 90%;
    --ring: 240 29% 77%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 29% 77%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 5% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 5% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 14.9%;
    --input: 240 5% 14.9%;
    --ring: 240 29% 77%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
